use strict;
use utf8;

+{
    'server' => {
        'host' => '0.0.0.0',
        'port' => '8080',
    },
    'GitHub' => {
        'user'         => 'user_name',
        'pass'         => 'pass_word',
        'repositories' => ['user_foo/repos_name', 'user_bar/it_can_specify_multiple'],
        'callback_url' => 'http://example.com/yancha',

        # Please refer: http://developer.github.com/v3/repos/hooks/
        'hooks' => ['issues', 'issue_comment', 'pull_request'],
    },
    'yancha_url' => 'http://yancha.hachiojipm.org:3000',
    'tags'       => '#GITHUB',
    'bot_name'   => 'GitHub-Chang',

    'profile_image_url' => 'http://pyazo.hachiojipm.org/image/your-image-path',
};
